# Servidor
PORT=3000
NODE_ENV=development

# TCP (comunicación con API Gateway)
PROFILES_HOST=0.0.0.0
PROFILES_TCP_PORT=4002

# PostgreSQL (compartida por todos los módulos)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=profile_db
