# Servidor
PORT=3000
NODE_ENV=development

# TCP (comunicación con API Gateway)
PROFILES_HOST=0.0.0.0
PROFILES_TCP_PORT=4002

# Maps Service (solo si se usa para preferencias vía TCP)
MAPS_HOST=localhost
MAPS_TCP_PORT=4001

# PostgreSQL (historial de eventos)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=profile_db
