# Profile Service (HTTP - desarrollo local)
PORT=3000

# Profile Service (TCP - comunicación con API Gateway)
PROFILES_HOST=0.0.0.0
PROFILES_TCP_PORT=4002

# Maps Service (TCP - persistencia PostgreSQL)
MAPS_HOST=localhost
MAPS_TCP_PORT=4001
